* {
  box-sizing: border-box;
  text-decoration: none;
  text-decoration-style: none;
}

/* navbar */
.tombol {
  margin-left: 300px;
}

nav {
  position: fixed;
  
}

.link {
  margin-left: 200px;
}

.navbar-nav a {
  color: gray;
}

/* CSS untuk link yang dihover dengan garis bawah kuning */
.navbar-nav .nav-link {
  position: relative; /* Untuk menetapkan posisi relatif pada link */
  text-decoration: none; /* Untuk menghilangkan garis bawah default */
}

.navbar-nav .nav-link:hover {
  text-decoration: none; /* Untuk menghilangkan garis bawah saat dihover (jika ada) */
}

.navbar-nav .nav-link::after {
  content: ""; /* Membuat pseudo-element ::after */
  position: absolute; /* Menetapkan posisi absolut pada pseudo-element */
  left: 0;
  right: 0;
  bottom: -2px; /* Mengatur jarak antara teks dan garis bawah */
  height: 2px; /* Ketebalan garis bawah */
  background-color: yellow; /* Warna garis bawah */
  visibility: hidden; /* Membuatnya tidak terlihat secara default */
  transform: scaleX(0); /* Mengubah skala lebar pseudo-element menjadi 0 */
  transition: all 0.2s ease-in-out; /* Efek transisi saat dihover */
}

.navbar-nav .nav-link:hover::after {
  visibility: visible; /* Membuat pseudo-element terlihat saat dihover */
  transform: scaleX(1); /* Mengubah skala lebar pseudo-element menjadi 1 saat dihover */
}

.logo {
  font-size: 30px;
}

.tombol {
  width: 150px;
  border-radius: 30px;
  font-weight: bold;
  border: none;
  background-color: yellow;
  color: black;
}

.tombol2 {
  width: 450px;
  height: 80px;
  border-radius: 30px;
  font-weight: bold;
  border: none;
  background-color: black;
  color: white;
  margin-top: 80px;
  font-size: 30px;
}
.tombol3 {
  width: 350px;
  height: 90px;
  border-radius: 30px;
  font-weight: bold;
  border: none;
  background-color: yellow;
  color: black;
  font-size: 30px;
}
.tombol3:hover {
  background-color: black;
  color: white;
  transition: 0.3s;
}

.tombol:hover {
  background-color: black;
  color: white;
  transition: 0.3s;
}

/* akhir navbar */

/* resume */

.h1-abi {
  font-weight: normal;
}

.gambar-resume {
  margin-left: auto;
  background-color: blue;
  width: 400px;
  height: 400px;
  background-image: url(img/resume.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}

.resume .p {
  color: gray;
}

/* akhir resume */

/* tiga colom */

.tiga-colom {
  margin-top: 50px;
}
.tiga-colom h1 {
  font-weight: normal;
}
.tiga-colom h5 {
  font-weight: normal;
  color: gray;
}

/* /tiga colom */

/* review */

.section .card .image img {
  height: 140px;
  width: 140px;
  object-fit: cover;
  border-radius: 50%;
}

/* akhir review */

/* accordion */
.asked {
  font-weight: normal;
}

/* accordion */

/* footer */
.inputbutton {
  width: 150px;
  border-radius: 30px;
  font-weight: bold;
  border: none;
  background-color: yellow;
  color: black;
}

.inputbutton:hover {
  background-color: black;
  color: white;
  transition: 0.3s;
}

.nomor {
  color: gray;
}

.github:hover {
  color: black;
}

/* footer */

/* responsive  */
@media (max-width: 768px) {
  /* navbar */
  .tombol {
    margin-top: 10px;
    margin-left: 0;
  }

  .link {
    margin-left: 0;
  }
  /* akhir navbar */

  /* resume */
  .gambar-resume {
    margin-left: 20px;
    background-color: blue;
    width: 400px;
    height: 400px;
    background-image: url(img/resume.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
  }

  /* akhir resume */

  /* review */
  .card {
    margin-left: 100px;
    margin-top: 15px;
  }

  /* akhir review */

  /* accordion */

  /* accordion */

  /* navbar */

  /* hero  */

  .abi {
    margin-left: 50px;
  }


  /* akhir hero */
.footers {
  margin-top: 30px;
}
  /* responsive */
}
